.nav-link:hover {
  color: #c71010 !important;
  background-color: #f0f0f0;
}

.nav-link {
  color: #c00f0f !important;
  font-size: 18px;
}

.nav-link.active {
  color: rgb(156, 22, 22) !important;
  background-color: #0d6efd !important;
}